<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BitEx sign up</title>
<link rel="stylesheet" type="text/css" href="static/style.css" />

</head>
<body>

<div class="testbox">
  <div class="main">
    <form method="post">
      <div id="inputs">
        <h3>SIGN UP</h3>
        <input class='name' type='text' name='name' placeholder="Username" required/> <br />

        <input class='email' type='email' name='email' placeholder="Email" required /> <br />

        <input class='password' type='password', name=name placeholder='Password' required /> <br />

        <input class='c_password' type='password', name=name placeholder='Confirm Password' required /><br />

        <button class="button button1">Sign up</button>
      </div>
      <p class='term' >By registering you are agreeing to <a href='#'> terms and conditions. </a></p>
      <div class='additionals'>
        <a class='reset' href='#'> Forgot password? </a>
        <a class='login' href='login.html'> Login! </a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
